:root{
    --bitcoin-orange: #f7931a;
    --soft-oragne: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}


/*-------------------------------HEADER---------------------------*/

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header-text-container{
    width: 90%;
    min-width: 280px;
    max-width: 900px;
    height: 220px;
    text-align: center;
    align-self: center;
}


.header-text-container h1{
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: var(--just-white);
}

.header-text-container p{
    margin-top: 25px;
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: var(--soft-oragne);
}

.header-text-container .header-dropbox{
    position: absolute;
    display: block;
    top: 270px;
    left: calc(50% - 117px);
    padding: 15px;
    margin-top: 35px;
    width: 230px;
    height: 50px;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
       
    background-color: var(--off-white);
    color: var(--black);
    box-shadow: 0 4px 8px rgba(89,73, 30, 0.16);
    border: none;
    border-radius: 5px;
}

.header-dropbox span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url(./assets/icons/down-arrow.svg);
}



/*-------------------------------MAIN---------------------------*/

main{
    width: 100%;
    /*calcula la altura en base a su contenido*/
    height: auto;
    background-color: var(--off-white);
}

.main-principal-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}


.main-principal-container .main-logo-img{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-image: url(./assets/img/Bitcoin.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}


.main-principal-container .main-info-container{
    width: 90%;
    min-width: 280px;
    max-width: 900px;
    margin: 0 auto;
}

.main-info-container h2{
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: var(--black);
    margin-bottom: 30px;
}


.main-info-container p{
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 500;
    color: #757575;
    margin-bottom: 30px;
}

main .main-table-container{
    width: 70%;
    min-width: 230px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

.main-table-container p{
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
    margin-bottom: 15px;
}

.main-table-container .table-section-info{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin:0 auto;
}

.table-section-info table{
    width: 100%;
    height: 100%;    
}

.table-section-info td{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    width: 50%;
    color: var(--grey);
    background-color: var(--just-white);   
}

/*Redondear las esquinas de la tabla*/

.table-section-info .top-column-left{
    border-radius: 15px 0 0 0;
}

.table-section-info .top-column-right{
    border-radius: 0 15px 0 0;
}

.table-section-info .bottom-column-left{
    border-radius: 0 0 0 15px;
}

.table-section-info .bottom-column-right{
    border-radius: 0 0 15px 0;
}


.table-section-info .column-right{
 font-size: 1.4rem;
 line-height: 1.7rem;
 font-weight: normal;
 color: #757575;
}

.table-section-info .down-arrow{
    display: inline-block;
    background-image: url('./assets/icons/trending-down.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    width: 13px;
    height: 13px;
    margin-left: 10px;
}

.table-section-info .up-arrow{
    display: inline-block;
    background-image: url('./assets/icons/trending-up.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    width: 13px;
    height: 13px;
    margin-left: 10px;
}

/*----------PRODUCT DETAIL SECTION----------------------*/
.main-product-detail{
    position: relative;
    width: 100%;
    height: auto;
    min-width: 320px;
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.main-product-detail .batata-icon{
    position: absolute;
    top:-10px;
    left: calc(50% - 20px);
    height: 25px;
    width: 40px;
    background-image: url(./assets/icons/batata.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.main-product-detail .product-detail-header{
    height: auto;
    width: 100%;
    min-width: 288px;
    text-align: center;
    margin:0 auto;
    margin-top: 50px;
}

.product-detail-header h2{
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: var(--just-white);
    margin-bottom: 20px;
}

.product-detail-header p{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #808080;
    margin-bottom: 20px;
}

.product-card-container .product-card{
    width: 90%;
    height: 160px;
    min-width: 288px;
    max-width: 400px;
    margin: 15px auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0,0, 0.16);
    background-color: var(--black);
}

.product-card .product-card-title{
    color: var(--just-white);
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.product-card .product-card-body{
    color: #808080;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.product-card .clock{
    width: 20px;
    height: 20px;
    background-image: url('./assets/icons/clock.svg');
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}

.product-card .eye{
    width: 20px;
    height: 20px;
    background-image: url('./assets/icons/eye.svg');
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}

.product-card .coin{
    width: 20px;
    height: 20px;
    background-image: url('./assets/icons/dollar-sign.svg');
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}

.product-card .verified{
    width: 20px;
    height: 20px;
    background-image: url('./assets/icons/check-circle.svg');
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}

.image-card-section{
    background-image: url(./assets/img/bitcoinbaby2x.jpg);
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-card-section h2{
    color:var(--just-white);
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}